<%- include('../partials/head'); %>


<body>
    <%- include('../partials/header'); %>

    <h1>MODELO - VISTA - CONTROLADOR</h1>

    <button><a href="/product">Ir a la página 2</a></button>

    <%- include('../partials/footer'); %>
    
</body>
</html>